.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3em;
  padding: 2em;
  height: 100%;
  min-height: 100vh;
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.h3 {
  color: #604a3a;
  text-align: left;
  padding: 0 1em 1em 0;
  font-size: 1.5rem;
  font-family: "Zilla Slab", serif;
  font-weight: bold;
}

.fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
}

.label {
  display: flex;
  flex-direction: column;
  color: #604a3a;
  font-family: "Sofia Sans", sans-serif;
}

.input {
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid #333;
  background-color: rgba(230, 230, 230, 0.6);
  font-size: 1.1rem;
  margin-bottom: 15px;
  transition: 0.3s;
}

.input:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.input:focus {
  background-color: #fff;
  border: 2px solid #72bf6f;
}

.div {
  display: flex;
  width: 100%;
}

.button {
  width: 100%;
  border: none;
  color: white;
  font-size: 1.1rem;
  background-color: #1e593d;
  padding: 15px 32px;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  margin: -0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.button:hover {
  color: white;
  background-color: #72bf6f;
  transform: scale(1.05);
}
