.bodyClass {
  background: linear-gradient(rgba(30, 89, 68, 0.7), rgba(30, 89, 68, 0.7)),
    url("/placeholder1.jpg") center/cover fixed;
}

.loginContainer {
  width: 50%;
  height: 60%;
  max-width: 600px;
  max-height: 600px;
  margin: 50px auto;
  padding: 40px;
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 16px;
  box-shadow: 0 0 19px 5px rgba(0, 0, 0, 0.19);
  background: #f2f2f2 url("/wiggle.svg") center;
}

.title {
  font-size: 24px;
  color: #604a3a;
  margin-bottom: 2px;
}

.subtitle {
  font-size: 18px;
  color: #604a3a;
  margin-bottom: 20px;
}

.formGroup {
  margin-top: 20px;
  font-weight: bold;
  color: #604a3a;
}

.label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
}

.input {
  width: 100%;
  padding: 14px;
  outline: none;
  border: 2px solid #333;
  background-color: rgba(230, 230, 230, 0.6);
  font-size: 1.1rem;
  margin-top: 8px;
  transition: 0.3s;
  box-sizing: border-box;
}

.input:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.input:focus {
  background-color: #fff;
  border: 2px solid #72bf6f;
}

.buttonContainer {
  margin-bottom: 30px;
}

.button {
  width: 100%;
  border: none;
  color: white;
  font-size: 1.1rem;
  background-color: #1e593d;
  padding: 15px 32px;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  margin: -0.5rem;
  margin-top: 20px;
}

.button:hover {
  color: white;
  background-color: #72bf6f;
  transform: scale(1.05);
}

.errorMessage {
  color: red;
  margin-top: 5px;
}

.forgetPassword {
  color: #232323;
  cursor: pointer;
  text-decoration: none;
  margin-top: 5px;
  display: block;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}
.createAccount {
  color: #232323;
  cursor: pointer;
  text-decoration: none;
  margin-top: 5px;
  display: block;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

.forgetPassword:hover {
  letter-spacing: 1px;
  transform: scale(1.3);
  text-decoration: none;
  font-weight: bold;
}

.createAccount:hover {
  letter-spacing: 1px;
  transform: scale(1.3);
  text-decoration: none;
  font-weight: bold;
}
@media (min-width: 768px) {
  .loginContainer {
    max-width: 50%;
  }
}
