.bodyClass {
  background: linear-gradient(rgba(30, 89, 68, 0.7), rgba(30, 89, 68, 0.7)),
    url("/placeholder1.jpg") center/cover fixed;
  margin: 0; /* Reset default body margin */
}

.profileContainer {
  max-width: 600px;
  margin: 50px auto;
  padding: 40px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #604a3a; /* Brown text color */
}

.logoContainer {
  margin-bottom: 20px;
}

.logoContainer img {
  max-width: 100%;
  height: auto;
}

.profileBox {
  width: 100%;
  text-align: left;
}

.profileTitle {
  color: #604a3a; /* Brown text color */
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.labelText {
  font-size: 14px;
  margin-bottom: 5px;
  color: #604a3a; /* Brown text color */
}
.inputField {
  width: 100%;
  padding: 12px; /* Adjusted padding for increased height */
  margin-top: 5px;
  box-sizing: border-box;
}

.saveProfileButton {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #71a66f; /* Brown button color */
  color: #f2f2f2;
}

.saveProfileButton:hover {
  background-color: #1e5944; /* Darker brown button color on hover */
}
