/* ProfilePage.module.css */

.profileContainer {
  max-width: 400px;
  margin: 50px auto; /* Center the container with some top margin */
  padding: 30px;
  background-color: #1e5944;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoContainer {
  margin-bottom: 20px;
}

.logoContainer img {
  max-width: 100%;
  height: auto;
}

.profileBox {
  width: 100%;
  text-align: left;
}

.profileTitle {
  color: #fff;
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 20px;
}

.labelText {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #fff;
}

.inputField {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  box-sizing: border-box;
}

.saveProfileButton {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #2196f3;
  color: white;
}

.saveProfileButton:hover {
  background-color: #1565c0;
}

/* Add more styling as needed */
