.h2 {
  color: #604a3a;
  font-size: 3rem;
}

.h3 {
  color: #604a3a;
  text-align: left;
  padding: 0 1em 1em 1em;
  font-size: 1.5rem;
}

.h4 {
  color: #604a3a;
  text-align: center;
  font-size: 1.5rem;
}

.p {
  color: #604a3a;
  text-align: center;
  font-size: 1rem;
}

.ul {
  width: 25vw;
}

.li {
  color: #604a3a;
  text-align: left;
  font-size: 1rem;
  padding-bottom: 8px;
  border-bottom: 4px solid #1e5944;
  margin-bottom: 1em;
}

.background {
  background-image: url("/image18.png");
  background-size: cover;
}

.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3em;
  padding: 4em;
  background-color: rgba(30, 89, 68, 0.8);
  height: 100%;
}

.big_element {
  display: flex;
  flex-direction: column;
  grid-row: span 2;
  background-color: #fbfae8;
  color: #fff;
  text-align: center;
  border-radius: 16px;
  padding-top: 2em;
  padding-bottom: 2em;
}

.small_element {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #fbfae8;
  color: #fff;
  text-align: center;
  border-radius: 16px;
}

.earnings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5em 2em;
}

.campaigns {
  display: flex;
  padding: 2em;
  gap: 3em;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.active {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12em;
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
  background-image: url("/image30.png");
  background-size: cover;
}

.archive {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12em;
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
  background-image: url("/image1.png");
  background-size: cover;
}

.circle_container {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.rotating_text {
  transform: translate(-50%, -50%);
  white-space: nowrap;
  animation: spin 5s linear infinite;
  color: #000;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0em 2em;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
