.h2 {
  color: #604a3a;
  font-size: 2.5rem;
  font-weight: bold;
}

.h3 {
  color: #604a3a;
  text-align: left;
  padding: 0 1em 1em 0;
  font-size: 1.5rem;
}

.h4 {
  color: #604a3a;
  text-align: center;
  font-size: 1.5rem;
}

.p {
  color: #604a3a;
  text-align: center;
  font-size: 1rem;
}

.ul {
  width: 100%;
}

.li {
  color: #604a3a;
  text-align: left;
  font-size: 1rem;
  padding-bottom: 8px;
  border-bottom: 4px solid #1e5944;
  margin-bottom: 1em;
}

.background {
  background-image: url("/placeholder1.jpg");
  background-size: cover;
}

.background_green {
  background-color: rgba(30, 89, 68, 0.8);
  min-height: 100vh;
}

.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3em;
  padding: 4em;
  height: 100%;
  min-height: 100vh;
}

.big_element {
  display: flex;
  flex-direction: column;
  grid-row: span 2;
  background-color: #f2f2f2;
  border-radius: 16px;
  padding: 2em;
  text-align: center;
  box-shadow: 0 0 19px 5px rgba(0, 0, 0, 0.19);
}
.small_element1 {
  background-color: #f2f2f2;
  color: #fff;
  text-align: center;
  border-radius: 16px;
  padding: 2em;
  box-shadow: 0 0 19px 5px rgba(0, 0, 0, 0.19);
}

.small_element2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  background-color: #f2f2f2;
  color: #fff;
  text-align: center;
  border-radius: 16px;
  box-shadow: 0 0 19px 5px rgba(0, 0, 0, 0.19);
}

.earnings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2em 0;
}

.verifying_container {
  padding-top: 2em;
  text-align: center;
}

.campaigns {
  display: flex;
  gap: 2em;
  flex-direction: column;
  align-items: center;
  align-items: flex-end;
}

.active {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12em;
  width: 100%;
  border-radius: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/image30.png") center/cover;
}

.campaign_text {
  font-size: 3rem;
}
.archive {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12em;
  width: 100%;
  border-radius: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/image1.png") center/cover;
}
.circle_container {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 2em auto;
}

.rotating_text {
  white-space: nowrap;
  animation: spin 10s linear infinite;
  color: #000;
  height: 100%;
  background-size: cover;
}

.logo {
  display: flex;
  width: 60%;
  margin: auto;
  text-align: center;
}

.newcampaign_btn {
  display: flex;
  padding: 1em;
  margin: 1em;
  gap: 3em;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: #71a66f;
  border-radius: 16px;
  font-size: 2rem;
}

.newcampaign_btn:hover {
  background-color: #1e5944;
}
.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
