/* Regular style */
@font-face {
  font-family: "SofiaPro";
  src: url("./fonts/SofiaProFont/SofiaProMedium.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

/* Italic style */
@font-face {
  font-family: "SofiaPro";
  src: url("./fonts/SofiaProFont/SofiaProMedium-italic.ttf") format("ttf");
  font-weight: normal;
  font-style: italic;
}

/* Bold style */
@font-face {
  font-family: "SofiaPro";
  src: url("./fonts/SofiaProFont/SofiaProBold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}

/* Bold Italic style */
@font-face {
  font-family: "SofiaPro";
  src: url("./fonts/SofiaProFont/SofiaProBold-Italic.ttf") format("ttf");
  font-weight: bold;
  font-style: italic;
}

/* SemiBold style */
@font-face {
  font-family: "SofiaPro";
  src: url("./fonts/SofiaProFont/SofiaProSemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
