/* Regular style */
@font-face {
  font-family: "SofiaPro";
  src: url("./SofiaProFont/SofiaProMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Italic style */
@font-face {
  font-family: "SofiaPro";
  src: url("./SofiaProFont/SofiaProMedium-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

/* Bold style */
@font-face {
  font-family: "SofiaPro";
  src: url("./SofiaProFont/SofiaProBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Bold Italic style */
@font-face {
  font-family: "SofiaPro";
  src: url("./SofiaProFont/SofiaProBold-Italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

/* SemiBold style */
@font-face {
  font-family: "SofiaPro";
  src: url("./SofiaProFont/SofiaProSemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
