.loginContainer {
  width: 50%;
  height: 60%;
  max-width: 600px;
  max-height: 600px;
  margin: 50px auto;
  padding: 40px;
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 16px;
}

.title {
  font-size: 24px;
  color: #604a3a;
  margin-bottom: 2px;
}

.subtitle {
  font-size: 18px;
  color: #604a3a;
  margin-bottom: 20px;
}
.background {
  background-image: url("/placeholder1.jpg");
  background-size: cover;
}

.background_green {
  background-color: rgba(30, 89, 68, 0.8);
  min-height: 100vh;
}

.p {
  color: #604a3a;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 1rem;
}

.ul {
  width: 100%;
  padding: 1em;
}

.li {
  color: #604a3a;
  text-align: left;
  font-size: 1rem;
  padding-bottom: 8px;
  border-bottom: 4px solid #1e5944;
  margin-bottom: 1em;
}
