.homeBody {
  background-size: cover;
  background-position: center;
  background-color: #1e5944;
  color: #fbfae8;
  min-height: 100vh; /* Set a minimum height */
  position: relative;
  display: grid;
  grid-template-rows: auto auto;
}

.homeText {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 200px;
}

.homeText h1 {
  font-size: 90px;
  font-weight: bold;
  font-family: gt;
  line-height: 0.9;
  overflow-wrap: break-word;
  hyphens: auto;
  margin: 0;
}

/* .homeText h2 {
  font-size: 60px;
  font-weight: bold;
  font-family: gt;
  position: absolute;
  top: 38%;
  left: 10%;
} */

.homeText p {
  font-size: 19px;
  margin-top: 20px; /* Adjust as needed */
}

.buttonContainer {
  grid-row: 2;
  display: flex;
  justify-content: center;
  margin-top: -400px;
  margin-right: 400px;
}

.button {
  background-color: #71a66f;
  color: #fff;
  padding: 20px 150px;
  border: none;
  border-radius: 15px;
  transition: background-color 0.3s;
  cursor: pointer;
  margin: auto 10px;
}

.button:hover {
  background-color: #72bf6f; /* Change the background color on hover */
}
