.homeBody {
  background-size: cover;
  background-position: center;
}

.homeBodyShadow {
  background-size: cover;
  background-position: center;
  /* background-color: rgba(0, 0, 0, 0.5); */
  color: #fff;
  min-height: 100vh;
  height: auto;
  position: relative;
  display: grid;
  grid-template-rows: auto auto;
}

.homeText {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  color: #f2f2f2;
  padding: 130px;
  margin-top: 40px;
  animation: introLoad 3s ease-in-out;
}

.homeText h1 {
  font-size: 90px;
  font-weight: bold;
  line-height: 0.9;
  overflow-wrap: break-word;
  hyphens: auto;
  margin: 0;
}

.span {
  color: #72bf6f;
}

.homeText p {
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 50px;
}

.imageContainer {
  margin-top: -30vh;
  opacity: 0;
  animation: introLoad 3s ease-in-out 1s forwards;
  z-index: 999;
}

.leftImage {
  border: 2px solid #f2f2f2;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
  padding-bottom: 60px;
  display: inline-block;
  max-width: 20%;
  height: auto;
  margin-left: 130vh;
  margin-top: -100vh;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  animation: moveUpDown 3s infinite 4s;
}

.leftImage2 {
  border: 2px solid #f2f2f2;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
  padding-bottom: 60px;
  display: inline-block;
  max-width: 20%;
  height: auto;
  margin-left: 105vh;
  margin-top: -15vh;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  animation: moveUpDown 3s infinite 4s;
}

.buttonContainer {
  grid-row: 2;
  display: flex;
  justify-content: start;
  margin-left: 130px;
  margin-top: -200px;
  gap: 50px;
  animation: introLoad 3s ease-in-out;
  z-index: 999;
}

.button {
  display: flex;
  width: 18%;
  height: 26%;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  border-radius: 5px;
  margin-bottom: 2 00px;
  outline: 0;
  border: 1.5px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:after {
  content: "";
  background-color: #71a66f;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button:hover:after {
  background-color: #72bf6f;
  top: 0px;
  left: 0px;
}

.intro {
  animation: introLoad 2s ease-in-out;
}

@keyframes introLoad {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 0.7;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@media (min-width: 768px) {
  .button {
    padding: 20px 50px 13px;
  }

  .menu {
    width: 100%;
    height: 100%;
    position: static;
    padding: 20px;
  }
}
