/* src/App.css */

.landingpage {
  position: relative;
  height: 100vh;
  text-align: center;
  color: #fff; /* Set text color */
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire container */
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.h1 {
  font-size: 2.5em; /* Adjust the font size as needed */
}

.p {
  font-size: 1.2em; /* Adjust the font size as needed */
  margin-top: 20px;
}

.buttons {
  margin-top: 30px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  text-decoration: none;
  color: #fff; /* Set button text color */
  background-color: #3498db; /* Set button background color */
  border-radius: 5px;
  font-size: 1em;
}
