.homeBody {
  background-size: cover;
  background-position: center;
  color: #1e4959;
  min-height: 100vh; /* Set a minimum height */
  position: relative;
}

.homeText h1 {
  font-size: 8vw;
  line-height: 1.5;
  overflow-wrap: break-word;
  hyphens: auto;
  margin: 0;
  position: absolute;
  top: 25%;
  left: 10%;
}

.homeText h2 {
  font-size: 2vw;
  position: absolute;
  top: 42%;
  left: 10.4%;
}

.buttonContainer {
  position: absolute;
  bottom: 18rem; /* Adjust the distance from the bottom as needed */
  right: 10rem; /* Adjust the distance from the right as needed */
  display: flex;
  gap: 70px; /* Adjust the gap between buttons as needed */
}

.button {
  background-color: #71a66f;
  color: #fff;
  padding: 20px 150px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #72bf6f; /* Change the background color on hover */
}
