.homeBody {
  background-size: cover;
  background-position: center;
  background-color: #1e5944;
  color: #fbfae8;
  min-height: 100vh; /* Set a minimum height */
  position: relative;
  display: grid;
  grid-template-rows: auto auto;
}

.homeText {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 130px;
  margin-top: 40px;
}

.homeText h1 {
  font-size: 90px;
  font-weight: bold;
  font-family: gt;
  line-height: 0.9;
  overflow-wrap: break-word;
  hyphens: auto;
  margin: 0;
}

.homeText p {
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 50px;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.leftImage {
  border: 2px solid #f2f2f2;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
  padding-bottom: 60px;
  display: inline-block;
  max-width: 20%;
  height: auto;
  margin-left: 130vh;
  margin-top: -100vh;
  animation: moveUpDown 3s infinite;
}

.leftImage2 {
  border: 2px solid #f2f2f2;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
  padding-bottom: 60px;
  display: inline-block;
  max-width: 20%;
  height: auto;
  margin-left: 105vh;
  margin-top: -15vh;
  animation: moveUpDown 3s infinite;
}

.buttonContainer {
  grid-row: 2;
  display: flex;
  justify-content: center;
  margin-top: -200px;
  margin-right: 750px;
  z-index: 999;
}

.buttonContainer {
  grid-row: 2;
  display: flex;
  justify-content: center;
  margin-right: 85vh;
}

.button {
  background-color: #fbfae8;
  color: #1e4959;
  cursor: pointer;
  padding: 20px 100px;
  border: none;
  border-radius: 15px;
  transition: background-color 0.4s;
  margin: auto 10px;
}

.button:hover {
  background-color: #72bf6f;
  color: #fbfae8; /* Change the background color on hover */
}
