.h1 {
  padding: 2rem;
  text-align: center;
  font-weight: 400;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  font-weight: bold;
  color: #604a3a;
  text-align: left;
  font-size: 3em;
}

.content {
  padding: 1rem;
  background-color: var(--dusty-aqua-light);
  border: 1px solid var(--dusty-aqua);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.19);
  background-color: #0d2e4d;
}

.home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  background-color: aqua;
}

.content :first-child {
  margin-top: 0;
  background-color: #09ff00;
}
.content :last-child {
  margin-bottom: 0;
  background-color: #09ff00;
}

.button {
  position: fixed;
  bottom: 0;
  left: 47%;
  transform: translate(-50%, -50%);
  width: fit-content;
  border: none;
  color: #f2f2f2;
  font-size: 1.1rem;
  background-color: #0d2e4d;
  padding: 15px 32px;
  display: block;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  margin: 2rem;
  margin-top: 1rem;
  text-decoration: none;
}

.background {
  background-image: url("/placeholder1.jpg");
  background-size: cover;
}

.background_green {
  background-color: rgba(30, 89, 68, 0.8);
  min-height: 100vh;
}

.container {
  padding: 4em;
  height: 100%;
  min-height: 100vh;
}

.headline {
  background: #f2f2f2 url("/topography.svg") center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}
