.footer {
  display: flex;
  background-color: rgb(30, 89, 68);
}
.footer_container {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1em;
  padding: 3em;
}

.footer_container a {
  color: #f2f2f2;
}

.footer_container a:hover {
  color: #71a66f;
}

.so_me {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 1em;
  padding: 3em;
}

.email {
  text-decoration: underline;
  font-size: 1.4rem;
}

.copyright {
  font-style: italic;
}

@media (max-width: 767px) {
  .email {
    text-decoration: underline;
    font-size: 0.8rem;
  }

  .so_me {
    width: 50vw;
    padding: 1em;
  }
}
