.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: 110px 100px;
}

.container::after {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background: linear-gradient(rgba(30, 89, 68, 0.8), rgba(30, 89, 68, 0.8)),
    url("/placeholder1.jpg") center/cover fixed;
  z-index: -1;
  /* filter: blur(5px); */
}

.container_box {
  max-width: 70vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  background-color: #f2f2f2;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  background: #f2f2f2 url("/wiggle.svg") center;
  margin-bottom: 5em;
}

.left {
  height: 100%;
  background-size: cover;
  border-radius: 16px 0 0 16px;
}

.right {
  padding: 50px 40px;
}

.h2 {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: #604a3a;
}

.h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #1e593d;
}

.inputField {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid #333;
  background-color: rgba(230, 230, 230, 0.6);
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}

.inputField:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.inputField:focus {
  background-color: #fff;
  border: 2px solid #72bf6f;
}

.textarea {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid #333;
  background-color: rgba(230, 230, 230, 0.6);
  font-size: 1.1rem;
  margin-bottom: 18px;
  transition: 0.3s;
}

.textarea:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.textarea:focus {
  background-color: #fff;
  border: 2px solid #72bf6f;
}

.area {
  min-height: 150px;
}

.button {
  width: 100%;
  border: none;
  color: white;
  font-size: 1.1rem;
  background-color: #1e593d;
  padding: 15px 32px;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  margin: -0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.button:hover {
  color: white;
  background-color: #72bf6f;
  transform: scale(1.05);
}
.confirmationMessage {
  color: green;
  margin-top: 10px;
  font-weight: bold;
}
.loginLink {
  color: #232323;
  cursor: pointer;
  text-decoration: none;
  margin-top: 5px;
  display: block;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}
.loginLink:hover {
  letter-spacing: 1px;
  transform: scale(1.3);
  text-decoration: none;
  font-weight: bold;
}
