.h1 {
  color: #604a3a;
  font-size: 3rem;
}

.h2 {
  color: #604a3a;
  font-size: 1.2rem;
}

.h3 {
  color: #604a3a;
  font-size: 1.5rem;
}

.h4 {
  color: #604a3a;
  text-align: center;
  font-size: 1.5rem;
}

.p {
  color: #604a3a;
  font-size: 1rem;
}

.ul {
  width: 25vw;
}

.li {
  color: #604a3a;
  text-align: left;
  font-size: 1rem;
  padding-bottom: 8px;
  border-bottom: 4px solid #1e5944;
  margin-bottom: 1em;
}

.background {
  background-image: url("/image18.png");
  background-size: cover;
}

.background_green {
  background-color: rgba(30, 89, 68, 0.8);
  min-height: 100vh;
}

.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
  padding: 4em;
  height: 100%;
  min-height: 100vh;
}

.big_element {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  text-align: center;
  border-radius: 16px;
  padding: 2em;
  box-shadow: 0 0 19px 5px rgba(0, 0, 0, 0.19);
}

.arrow {
  border: 2px solid #604a3a;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
}
.earnings {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
}
.campaign {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12em;
  width: 100%;
  border-radius: 16px;
  background-image: url("/image30.png");
  background-size: cover;
  padding: 1em;
  border: none;
  padding: 0;
  margin-bottom: 2em;
}

.selected {
  padding: 1em;
}
.campaign_text {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 16px;
  color: #fff;
  font-size: 3rem;
  font-family: "Sofia Sans";
}

.campaign_container {
  padding-top: 2em;
}
