body {
  color: #ffffff;
}
.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2em;
  padding: 20px;
}

.big_element {
  height: 90vh;
  grid-row: span 2;
  background-color: #3498db;
  color: #fff;
  text-align: center;
  border-radius: 16px;
}

.small_element {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #2ecc71;
  color: #fff;
  text-align: center;
  border-radius: 16px;
}
